/*Section 1 start*/
.section-top{
    background-color: #90666c;
    padding: 8px 0px;
}
.cont1{
    display: flex;
    justify-content: space-around;
}
.cont1 a{
text-decoration: none;
color: white;
font-family: "Roboto",sans-serif;
font-size: 13px;
padding-top: 4px;
}
.icons {
   text-align: end;
   color: white;
}
.icons a{
    color: white;
    padding: 5px;
    border: solid;
    border-radius: 50%;
    font-size: 7px;
    font-weight: 100;
}
/*Section 1 end*/
/*Header start*/
header{
    background-image: url(../images/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;


}
.logo{
    color: white;
    font-size: 18px;
    padding:20px 0px ;
}
.ul{
    margin: 0;
    padding: 0;
}
.Nav ul{
    display: flex;
    justify-content: space-between;
}
.Nav ul a{
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    color: white;
    padding-top: 25px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
}
.icons2{
    color: white;
     text-align: end;
}
.cont3{
    color: white;
    text-align: center;
    padding: 160px 10px;
}
.cont3 h1{
    font-size: 50px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
.cont3 p{
    font-family: "Roboto Regular",sans-serif;
    font-size: 12px;
    font-weight: 100;
}
.Parent1{
    background-color: white;
    padding: 100px 0px;
    color: white;
}
.bigcard{
    width: 100%;
    border-radius: 45px;
    
}
.cont4{
    background-color: #90666c;
    padding: 60px 70px;
    border-radius: 45px;
}
.cont4 h2{
    font-size: 55px;
    font-family: "Saudagar",sans-serif;
    padding-bottom: 8px;
}
.cont4 p{
    font-family: "roboto",sans-serif;
    font-weight: 200;
}
.Parent2{
    background-image:url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
    margin: 90px;

}
.aboutfluid{
    width: 100%;
    background-color: #90666c;
    padding-bottom: 40px;
    margin: top 30px; ;
}
.cont5{
    background-color: #90666c;
    padding: 40px;
    margin-top: 120px;
}
.cont5 h3{
    font-size: 40px;
    padding-bottom: 15px; 
}
.cont5 p{
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    line-height: 30px;
}
.aboutfluid2{
    width: 100%;
    background-color: #90666c;
}
.cont6{
    background-color: #90666c;
    padding: 94px;
}
.cont6 h3{
    font-size: 40px;
    padding-bottom: 15px; 
}
.cont6 p{
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    line-height: 30px;
}
.Parent3{
    background-color: #fff;
    text-align: center;
    padding: 100px;
}
.cont7{
    text-align: center;
}
.cont7 h3{
    font-size: 60px;
}
.cont7 p{
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    padding-bottom: 10px;
}
.person1{
    width: 100%;
}
.person2{
    width: 100%;
}
.person3{
    width: 100%;
}
.Parent5{
    background-image:url(../images/background.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
}

